.container
{
    background-color:black;
    color:white;
    height: 400px;
    width: 90%;
    margin: auto;
    border: 15px solid red;
    border-radius: 20px;
}
.left
{
    width: 30%;
    height: 760px;
    text-align: center;
    font-size: 200px;
    float:left;
    padding-top: 90px;
}
.middle
{
    width: 30%;
    height: 760px;
    text-align: center;
    font-size: 200px;
    float:left;
    padding-top: 90px;
}
.right
{
    width: 30%;
    height: 760px;
    text-align: center;
    font-size: 200px;
    float:left;
    padding-top: 90px;
}